PATH=$PATH:$PWD/scripts

if ! nm -D $(readlink -f $(ldconfig -p | grep libsodium | rev | cut -d' ' -f1 | rev | tail -n1)) | grep -q "crypto_vrf_ietfdraft03_bytes"; then
  if [ ! -e cabal.project.local ] || ! grep -q "-external-libsodium-vrf" /dev/null cabal.project.local ; then
    printf "\e[0;31mYour libsodium is not suitable for Cardano.

Either install the right libsodium version
or add this to your cabal.project.local:

package cardano-crypto-praos
    flags: -external-libsodium-vrf\e[0m
"
  fi
fi

