[submodule "cardano-ledger"]
	path = cardano-ledger
	url = https://github.com/IntersectMBO/cardano-ledger
[submodule "ouroboros-consensus"]
	path = ouroboros-consensus
	url = https://github.com/IntersectMBO/ouroboros-consensus
[submodule "ouroboros-network"]
	path = ouroboros-network
	url = https://github.com/IntersectMBO/ouroboros-network
[submodule "cardano-node"]
	path = cardano-node
	url = https://github.com/IntersectMBO/cardano-node
